/* Main Page */
a {
    text-decoration: none;
}

.list {
    list-style: none;
}
body {
    position: relative;
    width: 1440px;
    height: 2592px;
    background: #FFFFFF;
}

/* HEADER */


.web-logo {
    color: #4D5AE5;
    font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 21px;
}

.logo {
    color: #2E2F42;
    font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 21px;
}

.nav-item {
    color: #2E2F42;
    font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 24px;
width: 48px;
height: 24px;
}


/* ADRESS */

.mail {
    color: #434455;
    font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 24px;
}

.phone-number {
    color: #434455;
    font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 24px;
}

/* MAIN CONTEINER */

.hero{
width: 1440px;
height: 600px;
background: #2E2F42;
}

.hero-item {
    color: #FFFFFF;
    font-family: 'Roboto';
text-align: center;
letter-spacing: 0.02em;
font-weight: 700;
font-size: 56px;
line-height: 60px;
}

.hero-button {
    background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 32px;
gap: 10px;
}

.order-service {
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
}

/* OUR SKIILS */

.our-skills{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.description-skills {
    font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}


/* Sekcja 1 */
.our-electronic{
    font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height: 40px;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}

.electronic-item {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
width: 360px;
height: 300px;
left: 540px;
top: 1128px;
}

/* Sekcja 3 */

.employee-item {
    background: #F4F4FD;
}

.our-team {
    color: #2E2F42;
    font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height: 40px;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.employees-images {
width: 264px;
height: 260px;
mix-blend-mode: normal;
}

.names {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
}

.skills {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.02em;
color: #434455;
}

/* Footer */

.footer {
    background: #2E2F42;
}

.footer-web {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}

.footer-logo {
    font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD;
}

.footer-desctription {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #F4F4FD;
}

/* PORTFOLIO */

/* Header */
.body-portfolio {
    background: #FFFFFF;
}

.dot {
    list-style: none;
}

.header-item {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
} 

.logo-portfolio {
    color: #2E2F42;
    font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 21px; 
}

.portfolio-web {
    color: #4D5AE5;
    font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 21px;
}

.mail-port,
.tel-port {
    font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}

.click-button{
    background: #F4F4FD;
    color: #4D5AE5;
    border: 1px solid #E7E9FC;
    font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 24px;
cursor: pointer;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
}

.click-button :focus
.click-button :hover {
    color: #FFFFFF;
    background: #404BBF;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

/* SEKCJA 1 */

.section-number-one {
    background: #E7E9FC;
}

.first-img {
    background: #FFFFFF;
border: 1px solid #E7E9FC;
}
.desctription-folder-one{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
}
.text {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;

}
.second-img {
border: 1px solid #E7E9FC;
 background: #FFFFFF;
}
.thrid-img {
  border: 1px solid #E7E9FC;
 background: #FFFFFF;  
}

/* SEKCJA 2 */

.section-number-two {
    background: #FFFFFF;
border: 1px solid #E7E9FC;
}

.description-folder-two {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
}

.marketing-folder-two {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}

/* Sekcja 3 */

.section-number-three{
       background: #FFFFFF;
border: 1px solid #E7E9FC; 
}

.desctription-folder-three {
     font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
}

.webside-folder-three {
        font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}

/* FOOTER */

.background-footer {
    background: #2E2F42;
}

.footer-webstudio {
    font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD;
}

.footer-first-logo {
    font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}

.description-increase{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #F4F4FD;
}