/* Main Page */
:root {
  --background: #ffff;
  --color: #f4f4fd;
  --main-text-color: #434455;
  font-family: 'Roboto', 'sans-serif', 'Raleway';
}
a {
  text-decoration: none;
}

.list {
  list-style: none;
}
body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  width: 1440px;
  height: 2592px;
  background: #ffffff;
  color: var(--main-text-color);
}

/* HEADER */

.second-logo {
  text-transform: uppercase;
  text-decoration: none;
  color: #2e2f42;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
}

.logo {
  font-family: 'Raleway';
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  letter-spacing: 0.03em;
}

.nav-item {
  color: #2e2f42;
  font-family: "Roboto";
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  width: 48px;
  height: 24px;
  letter-spacing: 0.02em;
}

/* ADRESS */

.mail {
  color: var(--main-text-color);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.phone-number {
  color: #434455;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* MAIN CONTEINER */
.our-strategy{
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.hero {
  width: 1440px;
  height: 600px;
  background: #2e2f42;
}

.hero-item {
  color: #ffffff;
  text-decoration: none;
  font-family: inherit;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.17;
}

.hero-button {
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
}

.order-service {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

/* OUR SKIILS */

.our-skills {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.description-skills {
  font-family: "Roboto";
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Sekcja 1 */
.our-electronic {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.electronic-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 360px;
  height: 300px;
  left: 540px;
  top: 1128px;
}

/* Sekcja 3 */

.employee-item {
  background: var(--background);
  line-height: 1.11;
}

.our-team {
  color: #2e2f42;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.employees-images {
  width: 264px;
  height: 260px;
  mix-blend-mode: normal;
  background: var(--color);
}

.names {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.skills {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */

.footer {
  background: #2e2f42;
}

.footer-web {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color);
}

.footer-desctription {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color);
}

/* PORTFOLIO */

/* Header */
.header-portfolio{
    background: var(--background);
    font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: none;
}
.body-portfolio {
  background: #ffffff;
}

.dot {
  list-style: none;
}

.header-item {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.logo-portfolio {
    color: #2E2F42;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 0.8;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.portfolio-web {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 0.8;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4D5AE5;
}

.mail-port,
.tel-port {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.click-button {
  background: #f4f4fd;
  color: #4d5ae5;
  border: 1px solid #e7e9fc;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
}

.color-btn:focus,
.color-btn:hover{
    color: #ffffff;
    background: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

/* SEKCJA 1 */


.portfolio-images {
  background: #ffffff;
  border: 1px solid #e7e9fc;
}
.desctription-folder-one {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.second-section-images {
  border: 1px solid #e7e9fc;
  background: #ffffff;
}
.third-section-images {
  border: 1px solid #e7e9fc;
  background: #ffffff;
}

/* SEKCJA 2 */


.description-folder-two {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.marketing-folder-two {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Sekcja 3 */

.section-number-three {
  background: #ffffff;
  border: 1px solid #e7e9fc;
  line-height: 1.11;
}

.desctription-folder-three {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.webside-folder-three {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* FOOTER */

.background-footer {
  background: #2e2f42;
  color: #4d5ae5;
}

.footer-webstudio {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #f4f4fd;
}

.footer-first-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.studio-portfolio {
  font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD;
}

.description-increase {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  text-decoration: none
}
